html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h2 {
  margin-bottom: 12px;
}

h5 {
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

h6 {
  font-weight: normal;
  margin: 0 0 4px 0;
  line-height: 13px;
}

label, h6 {
  font-size: 0.8rem;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
